.Game-2{
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}
.flex-box-cat{
    border:1px solid black;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.flex-box-cat img{
    padding:10px;

}
