.Game-1{
border: 1px solid black;
display: flex;
flex-direction: column;
margin-left: 140px;
margin-right: 140px;
margin-top: 50px;
}
.buttn{
    display: flex;
    border: 2px solid black;
    padding:10px;
    justify-content: space-around;
}
.buttn div{
    padding: 10px;
    border: 1px solid black;
}
