
.Game-3{
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;

}
.imagesOfGame3{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagesOfGame3 img{
    margin:2%;
    flex-direction: row;
}
.imagesOfGame3 img:hover{
    box-shadow: 0px 10px 50px rgba(37,50,233,1);
}



